<!DOCTYPE html>
    <head>
        <title>
            RPI Room Finder
        </title>
        <!-- <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <meta charset="utf-8">
    </head>

    <body id = "main" ng-app="roomFinder">
        <!-- web nav bar -->
        <nav class="ui inverted menu">
            <h3 class="header item">RPI Room Finder</h3>
            <span class="right floated text item">
                <p>Welcome, <%= name %>!&nbsp; &nbsp; &nbsp;<a href="/logout">Logout</a></p>
            </span>
        </nav>

        <div class="ui grid sub-page" ng-controller="adminController">
            <div class = "sixteen wide column">
                <h3 class="ui center aligned header">Managing Locations</h3>
                <table class = "ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Location</th>
                            <th>Floor Plan</th>
                            <th># of Rooms</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "location in locations track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{location.locname}}</td>
                            <td>{{location.floorplan}}</td>
                            <td>{{location.numrooms}}</td>
                            <td><a href="#">Modify</a>&nbsp;&nbsp;&nbsp;<a href="#">Delete</a></td>
                        </tr>
                        <!-- using angualar etc. later for more information -->
                    </tbody>
                </table>
                <a class = "ui mini button" href="/adloc">Add New Location</a>
            </div>
            <div class = "sixteen wide column">
                <h3 class="ui center aligned header">Managing Rooms</h3>
                <table class = "ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Location</th>
                            <th>Room #</th>
                            <th>Max Capacity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "room in rooms track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{room.locname}}</td>
                            <td>{{room.roomnum}}</td>
                            <td>{{room.maxseats}}</td>
                            <td><a href="#">Modify</a>&nbsp;&nbsp;&nbsp;<a href="#">Delete</a></td>
                        </tr>
                        <!-- using angualar etc. later for more information -->
                    </tbody>
                </table>
                <a class = "ui mini button" href="/adrom">Add New Room</a>
            </div>
            <div class = "sixteen wide column">
                <h3 class="ui center aligned header">Managing Reservations</h3>
                <table class = "ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Location</th>
                            <th>Room #</th>
                            <th>Scheduled Date</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "reservation in freservs track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{reservation.user | lowercase}}</td>
                            <td>{{reservation.name}}</td>
                            <td>{{reservation.roomnum}}</td>
                            <td>{{reservation.date | modifyDate}} @{{reservation.starttime | modifyTime}}</td>
                            <td>{{reservation.duration}} hrs</td>
                            <td>{{reservation.status | modifyStatus}}</td>
                            <td><a ng-href="/cancel?key={{reservation.key}}">Cancel</a></td>
                        </tr>
                    </tbody>
                </table>
                <a class = "ui mini button" href = "/adres">Add New Reservations</a>
            </div>
            <div class = "sixteen wide column">
                <h3 class="ui center aligned header">Reservations History</h3>
                <table class = "ui definition table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>User</th>
                            <th>Location</th>
                            <th>Room #</th>
                            <th>Scheduled Date</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat = "reservation in oreservs track by $index">
                            <td>{{$index + 1}}</td>
                            <td>{{reservation.user | lowercase}}</td>
                            <td>{{reservation.name}}</td>
                            <td>{{reservation.roomnum}}</td>
                            <td>{{reservation.date | modifyDate}} @{{reservation.starttime | modifyTime}}</td>
                            <td>{{reservation.duration}} hrs</td>
                            <td>{{reservation.status | modifyStatus}}</td>
                            <td><a ng-href="/cancel?key={{reservation.key}}">Cancel</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- jquery -->
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/tether.min.js"></script>
        <!-- semantic-ui -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- angular -->
        <script src="/public/js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <!-- angular router -->
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <!-- app js -->
        <script type="text/javascript" src = "/public/js/myApp.js"></script>
    </body>

</html>
