<!DOCTYPE html>
    <head>
        <title>
            RPI Room Finder
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <meta charset="utf-8">
    </head>

    <body class = "index_main">

        <nav class="ui inverted menu">
            <h3><a class="header item" href = "/home" style="margin-bottom: -16px;">RPI Room Finder</a></h3>
            <!-- <span class="right floated text item"> -->
                <!-- <a href="/admin">Admin</a> -->
            <!-- </span> -->
            <span class="right floated text item">
                <a href="/authenticate">Login</a>
            </span>
        </nav>


        <div class="ui grid custom-grid">
            <div class = "eight wide column">
                <div class = "ui secondary segment instruction">
                    <h1 class = "ui blue header">Booking Your Library Rooms</h1>
                    <div class = "ui celled list">
                        <div class="item">
                            Log in with your RCS id and password to book library rooms.
                            <div class="ui list">
                                <div class ="item">
                                    Folsom Library group study rooms
                                </div>
                                <div>
                                    Folsom Library training and group study rooms
                                </div>
                                <div>
                                    Library Presentation room
                                </div>
                            </div>
                        </div>
                        <div class = "item">
                            Confirmation of your booking will be sent to your rpi email address.
                        </div>
                    </div>
                </div>
            </div>
            <div class = "two wide column"></div>
            <div class = "five wide column ">

                <!-- <form action="/authenticate" method="GET" class="ui form" >
                   <button class="ui button">Log In</button>
                </form> -->
            </div>
            <div class = "one wide column"></div>
        </div>

        <!-- jquery -->
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/tether.min.js"></script>
        <!-- semantic-ui -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- angular -->
        <script src="/public/js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <!-- angular router -->
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <!-- firebase -->
        <script src="/public/js/firebase.js"></script>
        <script src="/public/js/angularfire.min.js"></script>
        <!-- app js -->
        <script type="text/javascript" src = "/public/js/component.js"></script>
        <script type="text/javascript" src = "/public/js/myApp.js"></script>
    </body>

</html>
