<!DOCTYPE html>
    <head>
        <title>
            RPI Room Finder
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <meta charset="utf-8">
    </head>

    <body ng-app = "roomFinder" ng-controller="displayController">

        <nav class="ui inverted menu">
            <h3 class="header item">RPI Room Finder</h3>
            <span class="right floated text item">
                <p>Username &nbsp;<a href="user.html">Reservations</a>&nbsp; <a href = "/logout">Log out</a></p>
                &nbsp; Admin
            </span>
        </nav>

        <a href="/admin" class = "ui button">Back</a>

        <div class="ui grid sub-page">
            <div class = "row">

                <form ng-submit="addLocation()" class = "ui form" style = "margin: auto;">
                  <h1>Location Addition</h1>
                  <div class="field">
                    <label for="track">Location Name</label>
                    <input type="text" class="form-control" id="track" ng-model="form2Data.name" placeholder="Enter location name">
                  </div>
                  <div class="field">
                    <label for="tweet">Floor Plan</label>
                    <input type="text" class="form-control" id="tweet" ng-model="form2Data.floorplan" placeholder="Enter floorplan">
                  </div>
                  <button type="submit" class="ui button">Submit</button>
                </form>
            </div>



        </div>

        <!-- jquery -->
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/tether.min.js"></script>
        <!-- semantic-ui -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- angular -->
        <script src="/public/js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <!-- angular router -->
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <!-- firebase -->
        <script src="/public/js/firebase.js"></script>
        <script src="/public/js/angularfire.min.js"></script>
        <!-- app js -->
        <script type="text/javascript" src = "/public/js/component.js"></script>
        <script type="text/javascript" src = "/public/js/myApp.js"></script>
    </body>

</html>
