<!DOCTYPE html>
    <head>
        <title>
            RPI Room Finder
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <meta charset="utf-8">
    </head>

    <body ng-app = "roomFinder" ng-controller="adminController">

        <nav class="ui inverted menu">
            <h3><a class="header item" href = "/home" style="margin-bottom: -16px;">RPI Room Finder</a></h3>
            <span class="right floated text item">
                <a href="/authenticate">Welcom, Admin</a>
            </span>
        </nav>


        <div class="ui grid sub-page">
            <a href="/admin" class = "ui button">Back</a>

            <div class = "row">
                <form ng-submit="addRoom()" class = "ui form" style="margin: auto;">
                  <h4 class="ui dividing header">Room Addition</h4>
                  <div class="field">
                    <label>Location Name</label>
                    <select ng-model="form3Data.locationkey">
                        <option value="" selected>Select location</option>
                        <option ng-repeat="location in locations" value="{{location.lockey}}">{{location.locname}}</option>
                    </select>
                  </div>
                  <div class="field">
                    <label>Room Number</label>
                    <input type="text" ng-model="form3Data.roomnum" placeholder="Enter room num">
                  </div>
                  <div class="field">
                    <label>Hours Open</label>
                    <div class="two fields">
                      <div class="field">
                        <select ng-model="form3Data.openhour">
                          <option value="" selected>Enter open hour</option>
                          <option ng-repeat="val in getArray(24) track by $index" value="{{$index}}">{{$index | modifyTime}}</option>
                        </select>
                      </div>
                      <div class="field">
                        <select ng-model="form3Data.closehour">
                          <option value="" selected>Enter close hour</option>
                          <option ng-repeat="val in getArray(24) track by $index" value="{{$index}}">{{$index | modifyTime}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label>Max Seats</label>
                    <input type="text" ng-model="form3Data.maxseats" placeholder="Enter max seats">
                  </div>
                  <button type="submit" class="ui button">Submit</button>
                </form>
            </div>
        </div>    <!--using jQuery-->
        <!-- jquery -->
        <script src="/public/js/jquery.min.js"></script>
        <script src="/public/js/tether.min.js"></script>
        <!-- semantic-ui -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- angular -->
        <script src="/public/js/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <!-- angular router -->
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <!-- app js -->
        <script type="text/javascript" src = "/public/js/myApp.js"></script>
    </body>

</html>
