<!DOCTYPE html>
<html>

    <head>
    	<meta charset="utf-8">
    	<title>RPI Study Room Finder | Set Up Account</title>

    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">

    	<link rel="stylesheet" href="/public/css/main.css">

    </head>

    <body>


    	<div class="ui centered card set_name" style = "margin-top: 2em;">
            <div class = "content">
                <h4 class = "ui header">Welcome new user!</h4>
                <div class = "description">
                    <form action="/profile" method="GET" class="w-50">
            			<div class="form-group">
            				<div class="ui input">
            					<input type="text" placeholder="Enter Nickname">
            				</div>
            			</div>
                        <br>
            			<button class="ui mini blue button">Set Nickname</button>
            		</form>
                </div>
            </div>



    	</div>


    	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    	<script type="text/javascript" src="/public/js/myApp.js"></script>
    </body>

</html>
