<!DOCTYPE html>
<html>

    <head>
    	<meta charset="utf-8">
    	<title>RPI Study Room Finder | Set Up Account</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" href="/public/css/main.css">
        <meta charset="utf-8">
    </head>

    <body>
    	<div class="ui centered card set_name" style = "margin-top: 2em;">
            <div class = "content">
                <h4 class = "ui header">Welcome new user!</h4>
                <div class = "description">
                    <form action="/home" method="GET" class="w-50">
            			<div class="form-group">
            				<div class="ui input">
            					<input type="text" placeholder="Enter Nickname">
            				</div>
            			</div>
                        <br>
            			<button class="ui mini blue button">Set Nickname</button>
            		</form>
                </div>
            </div>
    	</div>


        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <!-- semantic-ui -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <!-- angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
        <!-- angular router -->
        <script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
        <!-- firebase -->
        <script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
        <!-- app js -->
        <script type="text/javascript" src = "/public/js/component.js"></script>
        <script type="text/javascript" src = "/public/js/myApp.js"></script>
    </body>

</html>
