
<div class="ui grid centered sub-page" ng-controller = "successController">
    <div class = "row">
        <div class = "ui steps">
            <div class = "completed step">
                <i class = "home icon"></i>
                <div class = "content">
                    <div class = "title">
                        Select Room
                    </div>
                    <div class = "description">
                        Choose potential rooms in library
                    </div>
                </div>
            </div>
            <div class = "completed step">
                <i class = "calendar alternate outline icon"></i>
                <div class = "content">
                    <div class = "title">
                        Select Time Slot
                    </div>
                    <div class = "description">
                        Choose a maximum 4-hour slot
                    </div>
                </div>
            </div>
            <div class = "completed step">
                <i class = "info icon"></i>
                <div class = "content">
                    <div class = "title">
                        Confrim Time Slot
                    </div>
                    <div class = "description">
                        Verify reservation information
                    </div>
                </div>
            </div>
            <div class = "active step">
                <i class = "bullseye icon"></i>
                <div class = "content">
                    <div class = "title">
                        Success
                    </div>
                    <div class = "description">
                        Receive Confirmation Email
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "row">
        <h3>You've successfully booked a room!</h3>
    </div>
    <div class = "row">
        <button href = "home.html" class="ui button" ng-click = "BackHome()">Back to Homepage</button>
    </div>
</div>
