<div class="ui centered grid sub-page" ng-controller = "slotController">
    <div class = "row">
        <div class = "ui steps">
            <div class = "completed step">
                <i class = "home icon"></i>
                <div class = "content">
                    <div class = "title">
                        Select Room
                    </div>
                    <div class = "description">
                        Choose potential rooms in library
                    </div>
                </div>
            </div>
            <div class = "active step">
                <i class = "calendar alternate outline icon"></i>
                <div class = "content">
                    <div class = "title">
                        Select Time Slot
                    </div>
                    <div class = "description">
                        Choose a maximum 4-hour slot
                    </div>
                </div>
            </div>
            <div class = "step">
                <i class = "info icon"></i>
                <div class = "content">
                    <div class = "title">
                        Confrim Time Slot
                    </div>
                    <div class = "description">
                        Verify reservation information
                    </div>
                </div>
            </div>
            <div class = "step">
                <i class = "bullseye icon"></i>
                <div class = "content">
                    <div class = "title">
                        Success
                    </div>
                    <div class = "description">
                        Receive Confirmation Email
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "centered row">
            <form action="" class = "ui form">
                <div class = "field">
                    <label for="duration">Duration(hours)</label>
                    <input type="text" placeholder="2 by default" ng-model="duration">
                </div>
            </form>
    </div>

    <div class = "centered row">
        <table class="ui celled table" timetable = "timetable">
            <legend class = "ui header">Choose Start Time</legend>
          <thead>
            <tr>
                  <th></th>
                  <!-- <th ng-repeat = "n in datesx">{{n | date}}</th> -->
                  <th ng-repeat="n in datesx">{{ n | date: 'MM/dd/yyyy'}}</th>
            </tr>
         </thead>
            <tr ng-repeat="n in [] | range:24">
                <th>{{n}}:00</th>
                <td ng-repeat="m in [] | range:7" class = "selectable slots" id = "{{n}}-{{m}}" name = "{{n}}-{{m}}" ng-click="chooseTime($event)"></td>
            </tr>
          <tbody>

          </tbody>
        </table>
    </div>



    <div class = "row">
        <div class = "fourteen wide column">

            <button class="ui button" ng-click = "Back()">Back</button>
        </div>
        <div class = "two wide column">
            <button class="ui button" ng-click = "Confirm()">Next</button>
        </div>
    </div>

</div>
