
<div class="ui centered grid sub-page" ng-controller = "userController">
    <div class = "sixteen wide column">
        <button class = "ui button" ng-click="newReserv()">Make reservation</button>
    </div>
    <h3>Future Reservations</h3>
    <table class = "ui definition table">
        <thead>
            <tr>
                <th></th>
                <th>Location</th>
                <th>Room #</th>
                <th>Scheduled Date</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "reservation in freservs track by $index">
                <td>{{$index + 1}}</td>
                <td>{{reservation.name}}</td>
                <td>{{reservation.roomnum}}</td>
                <td>{{reservation.date | modifyDate}} @{{reservation.starttime | modifyTime}}</td>
                <td>{{reservation.duration}} hrs</td>
                <td>{{reservation.status | modifyStatus}}</td>
                <td><a ng-href="/cancel?key={{reservation.key}}">Cancel</a></td>
            </tr>
        </tbody>
    </table>
    <h3>Past Reservations</h3>
    <table class = "ui definition table">
        <thead>
            <tr>
                <th></th>
                <th>Location</th>
                <th>Room #</th>
                <th>Scheduled Date</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "reservation in oreservs track by $index">
                <td>{{$index + 1}}</td>
                <td>{{reservation.name}}</td>
                <td>{{reservation.roomnum}}</td>
                <td>{{reservation.date | modifyDate}} @{{reservation.starttime | modifyTime}}</td>
                <td>{{reservation.duration}} hrs</td>
                <td>{{reservation.status | modifyStatus}}</td>
                <td><a ng-href="/cancel?key={{reservation.key}}">Cancel</a></td>
            </tr>
        </tbody>
    </table>
</div>
