
<div class="ui centered grid sub-page" ng-controller = "userController">
    <div class = "sixteen wide column">
        <button class = "ui button" ng-click = "newReserv()">create new reservations<button>
    </div>
    <h3>Current Reservations</h3>
    <table class = "ui definition table">
        <thead>
            <tr>
                <th></th>
                <th>Room</th>
                <th>Start</th>
                <th>Duration</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>401</td>
                <td>2pm, Feb 25th, 2018</td>
                <td>2 hour </td>
                <td>Not completed</td>
                <td><a href="#">Change</a>&nbsp;&nbsp;&nbsp;<a href="#">Cancel</a></td>
            </tr>
            <!-- using angualar etc. later for more information -->
        </tbody>
    </table>
    <h3>Past Reservations</h3>
    <table class = "ui definition table">
        <thead>
            <tr>
                <th></th>
                <th>Room</th>
                <th>Start</th>
                <th>Duration</th>
                <th></th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>401</td>
                <td>2pm, Feb 25th, 2018</td>
                <td>2 hour </td>
                <td></td>
                <td>Cancelled</td>
            </tr>
            <!-- using angualar etc. later for more information -->
        </tbody>
    </table>
</div>
