<div class="ui centered grid sub-page" ng-controller = "userController">
  <h3>Future Reservations</h3>
  <table class = "ui celled padded table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Room #</th>
        <th>Scheduled Date</th>
        <th>Duration</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "reservation in freservs track by $index">
        <td>{{reservation.name}}</td>
        <td>{{reservation.roomnum}}</td>
        <td>{{reservation.date | modifyDate}} @{{reservation.starttime | modifyTime}}</td>
        <td>{{reservation.duration}} hrs</td>
        <td>{{reservation.status | modifyStatus}}</td>
        <td><a href="#" ng-click="cancel(reservation.key)">Cancel</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="6">
          <div class="center aligned">
            <button class = "ui button" ng-click="newReserv()">Make reservation</button>
          </div>
        </th>
      </tr>
    </tfoot>
  </table>
  <h3>Past Reservations</h3>
  <table class = "ui celled padded table">
    <thead>
      <tr>
        <th>Location</th>
        <th>Room #</th>
        <th>Scheduled Date</th>
        <th>Duration</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "reservation in oreservs track by $index">
        <td>{{reservation.name}}</td>
        <td>{{reservation.roomnum}}</td>
        <td>{{reservation.date | modifyDate}} @{{reservation.starttime | modifyTime}}</td>
        <td>{{reservation.duration}} hrs</td>
        <td>{{reservation.status | modifyStatus}}</td>
      </tr>
    </tbody>
  </table>
</div>
